/* Write your CSS here */
.li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.description {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #000000;
  width: 70%;
}
.button {
  height: 28px;
  width: 70px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: #ff0b37;
  border: 1px solid #ff0b37;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .description {
    font-size: 20px;
  }
}
